@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}

input {
  outline: none;
}

/* Делаем скроллбар тонким и округлым */
::-webkit-scrollbar {
  width: 6px; /* Ширина вертикального скролла */
}

::-webkit-scrollbar-track {
  background: transparent; /* Фон дорожки (лучше оставить прозрачным) */
}

::-webkit-scrollbar-thumb {
  background: var(--foreground); /* Цвет ползунка (zinc-700) */
  border-radius: 10px; /* Скругление */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground); /* Цвет ползунка (zinc-700) */
}